:root {
  --Primary: #7a6fff;
  --Text: #d3d3d3;
  --Btn: #6f97ff;
  --card-shadow: 4px 14px 0px -6px #7a6fff;
}

.App {
  padding: 20px;
  height: 100vh;
}

.jokes-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.jokes-container {
  position: relative;
  top: 120px;
}

.jokes-container h1 {
  font-size: 60px;
  color: var(--Primary);
  text-align: center;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 900;
  line-height: 70px;
}

.jokes-data-container {
  background: #585c69;
  height: 341px;
  max-width: 1453px;
  margin: auto;
  padding: 40px;
  width: 100%;
  border-radius: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jokes-content-container {
  margin-bottom: 20px;
}

.jokes,
.punchline {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--Text);
}

.punchline {
  font-size: 20px;
  font-style: italic;
  margin-top: 5px;
}

.btn-container {
  text-align: center;
}

.btn-container {
  width: 100%;
}

button.btn {
  border: none;
  background: var(--Btn);
  padding: 10px 30px;
  border-radius: 6px;
  margin: 5px;
  color: #ffffff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  text-align: center;
  transition: 0.1s;
}

button.btn:hover {
  background-color: #618dfd;
}

button.btn:active {
  transform: scale(0.9);
  background-color: #7d61fd;
  font-size: calc(22px - 1px);
  border-radius: 10px;
}

.disabled {
  display: none;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  .jokes-data-container {
    height: auto;
  }
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  .jokes-container {
    top: 0;
  }
}
