:root {
  --Primary: #7a6fff;
  --Text: #d3d3d3;
  --Btn: #6f97ff;
  --card-shadow: 4px 14px 0px -6px #7a6fff;
}

.App {
  padding: 20px;
  height: 100vh;
}

.jokes-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.jokes-container {
  position: relative;
  top: 120px;
}

.jokes-container h1 {
  font-size: 60px;
  color: var(--Primary);
  text-align: center;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 900;
  line-height: 70px;
}

.jokes-data-container {
  background: #585c69;
  height: 341px;
  max-width: 1453px;
  margin: auto;

  width: 100%;
  border-radius: 11px;
  position: relative;
}

.btn-container {
  text-align: center;
}

.btn-container {
  width: 100%;

  position: absolute;
  bottom: 50px;
}

button.btn {
  height: 67px;
  width: 203px;
  border: none;
  background: #6f97ff;

  border-radius: 72px;

  color: #ffffff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  text-align: center;
}
